amedia-privacybox-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

amedia-privacybox-button button {
  box-sizing: border-box;
  background: var(--swatchMono-black);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  color: var(--swatchMono-white);
  cursor: pointer;
  border: 0 none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  min-height: 40px;
  min-width: 220px;
}
