amedia-username {
  font-size: 12px;
}

amedia-username button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

amedia-username button:focus:not(:focus-visible) {
  outline: none;
}

amedia-username a {
  font-family: var(--openSans), sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}

amedia-username a:hover {
  text-decoration: underline;
}

amedia-username a + a {
  border-left: 1px solid var(--swatchMono-white);
}

amedia-username[theme='light'] a + a {
  border-left: 1px solid #1e282d;
}

amedia-username .employee {
  color: #fff;
  margin-left: 0.4em;
}

amedia-username[theme='light'] .employee {
  color: #1e282d;
}

@media screen and (max-width: 532px) {
  amedia-username a:first-child {
    margin-left: -10px;
  }
}
