amedia-privacybox {
  position: fixed;
  bottom: -500px;
  transition: ease-out bottom 250ms;
}

amedia-privacybox.active {
  bottom: 0;
  z-index: 1000000;
  /* header has an enormous z-index */
  width: 100%;
  font-family: var(--openSans);
  line-height: 1.4;
  color: var(--swatchMono-black, #000);
  box-sizing: border-box;
}

amedia-privacybox:empty {
  display: none;
}

amedia-privacybox > div {
  background: rgba(255, 255, 255, 0.97);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  max-width: 600px;
  padding: 20px 20px 0;
  margin: 40px auto;
}

@media screen and (max-width: 620px) {
  amedia-privacybox > div {
    max-width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

amedia-privacybox .actionBar {
  border-top: 2px solid var(--newspaper-color, #292827);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  padding: 10px 20px;
  margin-left: -20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 370px) {
  amedia-privacybox .actionBar {
    justify-content: center;
  }

  amedia-privacybox .actionBar a {
    order: 2;
    margin-top: 10px;
  }

  amedia-privacybox .actionBar button,
  amedia-privacybox .actionBar amedia-privacybox-button {
    width: 100%;
  }
}

amedia-privacybox h2 {
  color: var(--swatchMono-gray2);
  font-size: 21px;
  margin: 0 0 10px;
  line-height: 1.2;
  border-bottom: 1px solid var(--swatchMono-gray6);
  padding: 0 20px 15px;
  box-sizing: content-box;
  width: 100%;
  margin-left: -20px;
}

amedia-privacybox p {
  margin: 0 0 20px;
  font-size: 16px;
}

amedia-privacybox a {
  font-weight: bold;
  color: var(--swatchMono-black, #000);
}
