.largeSearchBox {
  width: 100% !important;
}

.searchbox {
  font-family: 'Open Sans', sans-serif;
  display: block;
  background: var(--swatchMono-gray6);
  padding: 10px;
}

.searchbox form {
  display: flex;
  flex-direction: row;
}

.searchbox .front {
  flex-wrap: wrap;
}

.searchbox label {
  display: none;
}

.searchbox .front label {
  display: block;
  flex-basis: 100%;
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.searchbox input[type='search'] {
  box-sizing: border-box;
  border: 1px solid var(--swatchMono-gray5);
  background: var(--swatchMono-white);
  height: 42px;
  font-size: 1rem;
  padding: 0 10px;
  flex: 1 1 0;
  width: 130px;
}

.searchbox button,
.searchbox input[type='search'] {
  appearance: none;
  border-radius: 0;
}

.searchbox button {
  background: var(--swatchMono-white);
  color: var(--swatchMono-white);
  border: 1px solid var(--swatchMono-gray5);
  border-left: 1px solid var(--swatchMono-white);
  height: 42px;
  width: 42px;
  margin: 0;
  padding: 0;
  flex: 0 0 42px;
  position: relative;
}

.searchbox button:before {
  font-family: 'glyphs';
  content: '\f122';
  font-size: 15px;
  position: absolute;
  top: 12px;
  left: 14px;
  color: var(--swatchMono-black);
}
